.cart-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.cart-item img {
  max-width: 50px;
  height: auto;
  margin-left: 2rem;
  background-color: white;
}

.cart-item-details {
  flex: 1;
  text-align: left;
  padding: 0 1rem;
}

.cart-item-details h2 {
  font-size: 1.2rem;
  margin: 0;
  width: 6rem;
}

.cart-item-details p {
  margin: 0.5rem 0;
  margin-left: 2.2rem;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-item-actions button {
  background-color: #b31919;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 6rem;
  margin-right: 4rem;
}

.cart-item-actions button:hover {
  background-color: #ff4500;
}

.cart-summary {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.cart-summary p {
  font-size: 1.2rem;
  font-weight: bold;
}

#checkout-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#checkout-button:hover {
  background-color: #45a049;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu-overlay.cart-active {
  display: block;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ddd;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  overflow-y: auto;
  overflow-x: hidden;
}
.cart-sidebar h2 {
  margin: 2rem;
}
.cart-sidebar.open {
  transform: translateX(0);
}

#close-cart {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  float: right;
}

#close-cart:hover {
  background-color: #ff4500;
}

@media (max-width: 600px) {
  .cart-sidebar h2 {
    text-align: center;
  }
}

#cart-below-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #ff6347;
  color: black;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#cart-below-icon:hover {
  background-color: #e5533b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#cart-below-icon i {
  font-size: 24px;
  margin-right: 5px;
}
@media (max-width: 400px) {
  #cart-below-icon {
    right: 40px;
  }
}
